<footer class="bg-slate-950 text-white p-4">
    <div class="flex w-full flex-wrap items-center justify-center gap-6 px-2 md:justify-between">
      <p class="block antialiased font-sans text-sm leading-normal font-normal text-inherit"
      >© 2024 -  Made by TrinityCorps.
      </p>
      <ul class="flex items-center gap-4">
        <li>
          <a href="https://www.creative-tim.com/presentation" target="_blank" class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">About Us</a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/license" target="_blank" class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-blue-500">Contact</a>
        </li>
      </ul>
    </div>
  </footer>
