<app-header></app-header>
<main>
    <div
      class="relative pt-16 pb-32 flex content-center items-center justify-center"
      style="min-height: 75vh;"
    >
      <div
        class="absolute top-0 w-full h-full bg-center bg-cover"
        style='background-image: url("https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1267&amp;q=80");'
      >
        <span
          id="blackOverlay"
          class="w-full h-full absolute opacity-75 bg-black"
        ></span>
      </div>
      <div class="container relative mx-auto">
        <div class="items-center flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
            <div class="pr-12">
              <h1 class="text-white font-semibold text-5xl">
                Centro de lenguas UTP chiriqui
              </h1>
              <p class="mt-4 text-lg text-gray-300">
                En nuestro centro, exploramos el fascinante mundo de los idiomas con pasión y dedicación. Ofrecemos una amplia gama de cursos diseñados para enriquecer tus habilidades lingüísticas, ya sea que estés comenzando desde cero o buscando perfeccionar tu dominio.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidde" 
        style="height: 70px;">
        <svg
          class="absolute bottom-0 overflow-hidden"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="none"
          version="1.1"
          viewBox="0 0 2560 100"
          x="0"
          y="0"
        >
          <polygon
            class="text-gray-300 fill-current"
            points="2560 0 2560 100 0 100"
          ></polygon>
        </svg>
      </div>
    </div>
    <section class="pb-20 bg-gray-300 -mt-24">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
          <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
            >
              <div class="px-4 py-5 flex-auto">
                <h6 class="text-xl font-semibold">Flexibilidad de Horarios</h6>
                <p class="mt-2 mb-4 text-gray-600">
                    Ofrecemos horarios flexibles para adaptarnos a tus necesidades, ya sea que trabajes a tiempo completo o tengas compromisos familiares.
                </p>
              </div>
            </div>
          </div>
          <div class="w-full md:w-4/12 px-4 text-center">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
            >
              <div class="px-4 py-5 flex-auto">
                <h6 class="text-xl font-semibold">Recursos Avanzados</h6>
                <p class="mt-2 mb-4 text-gray-600">
                    Disponemos de recursos tecnológicos avanzados y materiales de aprendizaje actualizados para mejorar tu experiencia educativa.
                </p>
              </div>
            </div>
          </div>
          <div class="pt-6 w-full md:w-4/12 px-4 text-center">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
            >
              <div class="px-4 py-5 flex-auto">
                <h6 class="text-xl font-semibold">Apoyo Continuo</h6>
                <p class="mt-2 mb-4 text-gray-600">
                    Nuestro compromiso no termina con el final del curso; ofrecemos soporte continuo y orientación para garantizar tu éxito a largo plazo en el dominio del idioma.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap items-center mt-32">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <h3 class="text-3xl mb-2 font-semibold leading-normal">
              Nuestros inicios
            </h3>
            <p
              class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
            >
            Desde su fundación, hemos sido líderes en la enseñanza de idiomas con un enfoque holístico y personalizado. Nuestro compromiso con la excelencia educativa se refleja en cada aspecto de nuestro programa, desde la selección cuidadosa de nuestros profesores hasta la implementación de metodologías innovadoras.
            </p>
            <p
              class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700"
            >
            Nos enorgullecemos de ofrecer una experiencia educativa de calidad que no solo se centra en la adquisición de habilidades lingüísticas, sino también en la comprensión profunda de la cultura y las tradiciones asociadas con cada idioma que enseñamos. Esto no solo enriquece el aprendizaje, sino que también promueve la apreciación y el respeto por la diversidad cultural global.
            </p>

          </div>
          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-wordsw-full mb-6 shadow-lg rounded-lg bg-green-500"
            >
              <img
                alt="..."
                src="https://utp.ac.pa/sites/default/files/styles/noticias_principal_hv/public/img_1299_0.jpg?itok=wDHP-eKk"
                class="w-full align-middle rounded-t-lg"
              />
              <blockquote class="relative p-8 mb-4">
                <svg
                  preserveAspectRatio="none"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 583 95"
                  class="absolute left-0 w-full block"
                  style="height: 95px; top: -94px;"
                >
                  <polygon
                    points="-30,95 583,95 583,65"
                    class="text-white fill-current"
                  ></polygon>
                </svg>
                <h4 class="text-xl font-bold text-white">
                    Visión Futura
                </h4>
                <p class="text-md font-light mt-2 text-white">
                    Mirando hacia el futuro, seguimos comprometidos con la innovación, la excelencia académica y el servicio excepcional al estudiante.
                </p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="relative py-20 bg-gray-200">
      <div
        class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
        style="height: 80px;"
      >
        <svg
          class="absolute bottom-0 overflow-hidden"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="none"
          version="1.1"
          viewBox="0 0 2560 100"
          x="0"
          y="0"
        >
          <polygon
            class="text-white fill-current"
            points="2560 0 2560 100 0 100"
          ></polygon>
        </svg>
      </div>
      <div class="container mx-auto px-4">
        <div class="items-center flex flex-wrap">
          <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
            <img
              alt="..."
              class="max-w-full rounded-lg shadow-lg"
              src="https://utp.ac.pa/sites/default/files/styles/galleryformatter_slide/public/cumple-cel1_1.jpg?itok=tDjKpwcq"
            />
          </div>
          <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
            <div class="md:pr-12">
              <h3 class="text-3xl font-semibold">Innovación y Tecnología</h3>
              <p class="mt-4 text-lg leading-relaxed text-gray-600">
                Estamos a la vanguardia en la integración de tecnología educativa avanzada en nuestras aulas. Esto no solo facilita el aprendizaje interactivo y dinámico, sino que también permite a los estudiantes acceder a recursos educativos de última generación que complementan su experiencia en el aula.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="pb-20 relative block bg-purple-950">
      <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
        <div class="flex flex-wrap text-center justify-center">
          <div class="w-full lg:w-6/12 px-4">
            <h2 class="text-4xl font-semibold text-white">¿Listo para comenzar tu viaje lingüístico?</h2>
            <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-300">
                ¿Listo para dar el primer paso hacia la fluidez en otro idioma? Completa nuestro formulario de contacto y déjanos ayudarte a alcanzar tus metas lingüísticas. Desde cursos personalizados hasta programas intensivos y preparación para exámenes, en el Centro de Lenguas tenemos todo lo que necesitas para triunfar.
            </p>
          </div>
        </div>
        <div class="flex flex-wrap mt-12 justify-center">
          <div class="w-full lg:w-3/12 px-4 text-center">
            <h6 class="text-xl mt-5 font-semibold text-white">
              Ubicacion
            </h6>
            <p class="mt-2 mb-4 text-gray-300">
                La sonde,David,Chiriqui
            </p>
          </div>
          <div class="w-full lg:w-3/12 px-4 text-center">
            <h5 class="text-xl mt-5 font-semibold text-white">
              Telefonos
            </h5>
            <p class="mt-2 mb-4 text-gray-300">
                +123 456 7890 <br>
                +143 451 7593
            </p>
          </div>
          <div class="w-full lg:w-3/12 px-4 text-center">
            <h5 class="text-xl mt-5 font-semibold text-white">Correos</h5>
            <p class="mt-2 mb-4 text-gray-300">
                Para contactarnos, envía un correo a info&#64;centrodelenguas.com
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="relative block py-24 lg:pt-0 bg-purple-950">
    
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">

          <div class="w-full lg:w-6/12 px-4">
            <h1 class="text-3xl font-bold text-white text-center m-3">Contactanos Ya</h1>
            <form class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md" [formGroup]="form" (ngSubmit)="create()">
              <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="floating_first_name" id="fullName" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required  formControlName="fullName"/>
                <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre completo</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
              <input type="text" name="floating_first_name" id="dni" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required formControlName="dni" />
              <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Cedula</label>
          </div>
            <div class="w-full">
            <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Edad</label>
            <input type="number" name="age" id="age" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="23" required formControlName="age">
            </div>
            <div class="relative z-0 w-full mb-5 group">
              <input type="email" name="phone" id="phone" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required formControlName="phone" />
              <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Telefono</label>
          </div>

              <div class="relative z-0 w-full mb-5 group">
                  <input type="email" name="email" id="email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required formControlName="email" />
                  <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Correo</label>
              </div>
              <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enviar solicitud</button>
            </form>

          </div>
        </div>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
    
    
